@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Quicksand:wght@300&display=swap');
body{
    font-family: 'Alata', sans-serif;
    margin: 0;
    background-color: #F1E5CC;
    cursor: url("./icons/cursors/arrow.svg"),default;
}

a{
    color: #272725;
    text-decoration: none;
}
nav{
    padding-top: 20px;
    width: 1--vw;
    background-color: #F1E5CC;
  /*  overflow: hidden;
    position: fixed;
    margin-top: -110px;
 */
    display:flex !important;
} 
.navItem{
    margin-left:20px;
    padding: 10px 10px;
    list-style: none !important;
    font-size: 1.2rem;
    font-weight: 1000;
    transition: 300ms;
    color: #000;
}
.navItem:hover{ 
    color: #272725;
    cursor: url("./icons/cursors/pointer.svg"), pointer;
    scale: 1.2 ;
}
ul{
    margin-left: auto;
    margin-right: auto;
    display: flex;

}
#logo{
    margin-top: -10px;
    width: 6.5rem;
    height: 6.5rem;
}
#btn{
    color: #ffffff;
    background-color: #272725;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    font-weight: 900;
    transition: 400ms;
}
#btn:hover{
    cursor: url("./icons/cursors/pointer.svg"), pointer;
    scale: 1.1;
}
#btnDiv{
    text-align: center;
}
#btn2{
    color: #ffffff;
    background-color: #272725;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    font-weight: 900;
    transition: 400ms;
    margin-right: auto;
    margin-left: auto;
}
#btn2:hover{
    cursor: url("./icons/cursors/pointer.svg"), pointer;
    scale: 1.3;
}
.goToBtn{
   /* color: #ffffff;
    background-color: #000;
    border-radius: 30px;
    padding: 15px 30px;
    border: none;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 45%;
    */
    transition: 300ms;
    width: 8vh;
    text-align: center;
    margin-top: -20px;
}
.goToBtn:hover{
    scale:1.11;
    cursor: url("./icons/cursors/pointer.svg"), pointer;
}
.container1{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
}
.section1{
    opacity: 0;
    transform: translateY(20px); /* Move the text down initially */
    transition: opacity 4s ease, transform 1s ease; /* Add transition effect */
    height: 100vh;
}
body.loaded .section1{
    opacity: 1;
    transform: translateY(0);
}

.textFull1 ,.textOutline1{
    font-weight: 900;
    font-size: 6rem;
    line-height: 4rem;
    justify-self: center;
    transition: 400ms;
}
.textOutline1{
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #272725;
    text-stroke: 1px #272725;
}
.textFull1:hover ,.textOutline1:hover{
    text-shadow: 0 1px 1px #F1E5CC, 
    -4px 7px 1px #333333, 
    -10px 10px 0px #5e5e5e, 
    -16px 13px 0px rgb(128, 128, 128);
    cursor: url("./icons/cursors/arrow.svg"), default;
}
#s1Hidden{
    display: none;
    margin: 0;
}
.image{
    display: grid;
}
#img{
    height: 55vh;
    border-radius: 30px;
    margin-left: 5rem;
    align-self: center;
    cursor: url("./icons/cursors/cross.svg"), crosshair;
}
.icon{
    margin-top: 1rem;
    width: 3rem;
    max-width: 3rem;
    transition: 300ms;
}
.icon:hover {
    max-width: 3.3rem;
    scale:1.1;
    cursor: url("./icons/cursors/pointer.svg"), pointer;
}
.icons{
    display: flex;
    justify-content: center;
    padding-left: 5rem;
    
}
.section2{
    display: flex;
    height: 100vh;
}
.container2{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.spacer{
    aspect-ratio: 960/100%;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./icons/blob-scene-haikei\ \(5\).svg');
}
.left2, .right2{
    width: 50vw;
    padding-top: 100px;
}
.left2{
    background-image: url("./icons/aboutmepic.png");
    background-size: cover;
}

#textFull2 ,#textOutline2{
    font-weight: 900;
    font-size: 5rem;
    line-height: 2rem;
    justify-self: center;
    color: #F1E5CC;
    text-align: center;
    cursor: url("./icons/cursors/arrow.svg"), default;
}
#line{
    width: 45vw;
    background-color: #F1E5CC;
    border-radius: 10px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}
p{
    font-weight: 300;
    font-size: 1.2rem;
    color: #F1E5CC;
}
#textOutline2{
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #F1E5CC;
    text-stroke: 1px #F1E5CC;
}
#subText2{
    color: #F1E5CC;
    text-align: center;
    font-size: 3rem;
    cursor: url("./icons/cursors/arrow.svg"), default;
}
/*.skills{
    margin: auto !important;
    width:60vh;
    justify-content:space-evenly;
    display: flex;
    color: #F1E5CC;
    font-weight: 400;
    cursor: url("./icons/cursors/arrow.svg"), default;
}*/
.icons2{
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 30px;
}
.icons2 object {
    min-width: 0.5rem;
}
#goToProjects{
    padding-top: 30px;
    text-align: center;
}

.section3{
    height: 120vh;
    
}
.projectsText{
    display: flex;
    justify-content: center;
}
#projectText{
    text-align: center;
    padding-top: 15px;
}
.codingProjects{
    display: none;
    justify-content: center;
}
.photography{
    display: none ;
    justify-content: center;
}


footer{
    margin-top: 100px;
    height: 30vh;
    background-color: #E2D6BE;
    color: #272725;
    display: flex;
}
.footeritem{
    padding: 10px 15px 0px 15px;
}
.footerUl{
    padding: 20px;
    justify-content: baseline;
    flex-direction: column;
}
#footerLeft{
    align-items: flex-start;
    margin-left: 0;
}
#footerRight{
    align-items: flex-end;
    margin-right: 0;
}
#mainFooterText{
    font-weight: 900;
    font-size: 1.7rem;
}
.designProject{
    padding: 60px;
    border: 0px;

}
.left3 ,.right3{
    display: flex;
    justify-content: center;
}
.container3{
    justify-content: center;
}
#text3{
    font-size: 3rem;
    line-height: 4rem;
    justify-self: center;
    transition: 400ms;
    padding: 50px;
}
.text3-3{
    margin: 2rem;
    margin-bottom: 10px;
    font-size: 1.2rem;
    justify-self: center;
    transition: 400ms;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0);
    cursor: url("./icons/cursors/arrow.svg"), default;
}

.text3-3:hover{
    cursor: url("./icons/cursors/pointer.svg"), pointer;
}
.text3Focus{
    color: #fff;
    background-color: #272725;
    border-radius: 30px;
}
.codingContainer,.designContainer,.photographyContainer{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}
.projectGrid{
    width: 30vw;
    background-color: #E2D6BE;
    height: 40vh;
    margin: 20px;
    border-radius: 10px;
    transition: 600ms;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    filter:saturate(15%);
}
.projectGrid:hover{
    scale: 1.03;
    box-shadow: 1px 1px 1px rgba(126, 117, 101, 10);
    border-radius: 3px;
    mix-blend-mode: normal;
    
    filter:saturate(100%)
}
.moreBtn{
    transition: 100ms opcaity;
    visibility: hidden;
    color: #fff;
    padding: 5px 30px 5px 30px;
    border-radius: 30px;
    font-size: 1.3rem;
    background-color: #272725;
}
.moreBtn:hover , .moreBtnDark:hover{
    cursor:url("./icons/cursors/pointer.svg"), pointer;
}
.moreBtnDark{
    transition: 100ms opcaity;
    visibility: hidden;
    color: #272725;
    padding: 5px 30px 5px 30px;
    border-radius: 30px;
    font-size: 1.3rem;
    background-color: #fff;
}
#vergooxD{
    background-image: url("./icons/vergoox.png");
    background-size: cover;
}
#silkyAiD{
    background-image: url("./icons/silkynotes2.png");
    background-size: cover;
}
#vergooxFigmaD{
    background-image: url("./icons/vergooxFigma.png");
    background-size: cover;
}
#euroLineD{
    background-image: url('./icons/euroLineFigma.png');
    background-size: cover;
    background-position: 200%;
}

#weatherAppD{
    background-image: url('./icons/weatherApp.png');
    background-size: cover;
    background-position: 100%;
}

/* CONTACT FORM */
.containerForm{
    text-align: center;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    height: 90vh;
}
#contactForm{
    border-radius: 30px;
    height: 50vh;
    width: 50vw;
    min-width: 300px;
}
#topForm, #bottomForm{
    display: block;
}
.inputForm{
    background-color: #F1E5CC;
    border-radius: 10px;
    border: 2px #7E7665 solid;
    height: 20px;
    padding: 10px;
    margin-bottom: 10px;
    width: 25vw;
}
input:focus{
    background-color: #F1E5CC;
    outline: none;
}
input:hover ,textarea:hover{
    cursor: url("./icons/cursors/text.svg"), text;
}

/*
.inputIcon{
    height: 20px;
    padding-top: 10px;
}
*/
#messageForm{
    background-color: #F1E5CC;
    border-radius: 10px;
    border: 2px #7E7665 solid;
    padding: 10px;
    width: 25vw;
    resize: none;
}
input, textarea{
    font-family: 'Alata', sans-serif;
}
::placeholder{
    font-family: 'Alata', sans-serif;
    font-weight: 900;
    color: #7E7665;
    font-size: 0.8rem;
}

@media (max-width: 1190px) {
    .textFull1, .textOutline1{ 
        font-size: 5rem;
        line-height: 80px;
        margin: 30px;
    }

    #textFull2, #subText2, #textOutline2{
        font-size: 3.2rem;
    }}
@media (max-width: 875px) {
    .nav{
        width: 100vw;
    }
    #img{
        padding: 0;
        height: 30vh;
    }
    .icons{
        display: flex;
        align-self: center;
    } 
    .text{
        display: block;
        padding: 0;
    }
    .textFull1, .textOutline1{ 
        font-size: 3rem;
        line-height: 80px;
        margin: 30px;
    }
    .text3-3, .text3Focus{
        font-size: 2rem !important;
        padding: 0;
    }
    #textFull2, #subText2, #textOutline2{
        font-size: 3.2rem;
        line-height: 50px;
    }
    #backToTop2, #backToTop{
        display: none !important;
    }
    .goToBtn{
        width: 00vw;
    }}
@media (max-height: 805px){
    .icons2{scale: 0.2;
}}
@media (max-height: 880px) {
    .goToBtn{
        margin-top: -25px;
    }
    #goToProjects{
        margin-top: 25px;
    }
    .skills{
        font-size: 0.8rem;
        margin-top: -40px;
    }
    .icons2{
        scale: 0.7;
    }


    .section3{
        height: 100vh;
    }    
    .textFull1, .textOutline1{
        font-size: 5rem;
    }

    #textFull2, #subText2, #textOutline2{
        font-size: 3.2rem;
    }
    .projectGrid{
        height: 35vh;
    }}
@media (max-width: 565px){
    .right2{
        padding-top: 20px;
    }
    
    .codingContainer, .designContainer, .photographyContainer{
        flex-direction: column;
    }
    .projectGrid{
        width: 90vw;
        margin: auto;
        margin-top: 20px;
    }
        .left2{
            display: none !important;
        }
        .right2{
            width: 100vw;
        }
        p{
            padding: 30px;
            text-align: center;
        }
        #btn2{
            display: none !important;
        }
        .text{
            display: none !important;
        }
        #img{
            margin:0;
            margin-left: auto;
            margin-right: auto;
        }
        #s1Hidden{
            display: block;
            font-size: 2.3rem !important;
            margin: -0.8rem;
        }
        .container1{
            margin-top: 4rem;
        }
        
        .icons{
            padding: 0;
        }
        .skills{
         display: none !important;
        }
        .navItem{
         scale: 0.9;
         margin-left: 0;
         padding: 7px 7px;
         font-size: 0.9rem;
        }
        #btn{
         padding: 5px;
        }
     
         #textFull2, #subText2, #textOutline2{
             font-size: 2rem;
             padding: 0;
         }
        .section3{
            height: 160vh;
        }
        .projectsText{
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .text3-3, .text3Focus{
            font-size: 0.8rem !important;
            margin: 0.5rem;
            margin-top: 1rem;
            padding: 10px;
        }
        .icons2{
            display: none;
        }
        #vergooxFigmaD{
            background-size: 100%;
        }
        #silkyAiD{
            background-size: cover ;
        }
        #euroLineD{
            background-size: cover;
        }

        .footeritem{
            font-size: 14px;
        }
        .containerForm{
            padding: 0;
            padding-top: 100px;
            width: 100vw;
        }
        #contactForm{
            width: 100vw;
        }
        .inputForm{
            width: 200px;
        }
        #messageForm{
            width: 200px;
        }
    }
